@font-face {
    font-family: 'DB Helvethaica X 67 MedCond';
    src: url('DBHelvethaicaX-67MedCond.woff2') format('woff2'),
        url('DBHelvethaicaX-67MedCond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

